<div class="main">
  <div class="container">
    <div class="text-center heading">
      <p>Advanced UI UX Courses</p>
    </div>
    <div class="row">
      <div
        *ngFor="let course of ux_uiCourses"
        class="card"
        style="width: 18rem"
      >
        <img
          [src]="course.image"
          alt="{{ course.title }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">The trainer: {{ course.instructor }}</p>
          <p>price: {{ course.price }} EGP</p>
          <div>
            <a class="btn" (click)="addToCart(course)">add to cart</a>
            <a href="/course-payment" class="btn btn-danger">buy now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
